<div class="author">
  <h1 class="author_heading">Hi, I am Danico Mfala</h1>
  <p class="author_body">web developer and content creator.</p>
</div>

<img
  src="/img/hero-image.jpg"
  alt="person looking out through window"
  class="hero-image"
  width="981"
  height="528"
/>

<section class="articles">
  <h2 class="articles_heading">Lastest Posts</h2>

  <ul class="article-ul">
    <li>
      <a href="#">
        <span>Post Title</span>
        <span class="article-list_date">Date</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span>Post Title</span>
        <span class="article-list_date">Date</span>
      </a>
    </li>
  </ul>

  <a href="#" class="pagination">&lt; View older Posts</a>
</section>
